.header-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.form-box{
  display: flex;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 800px;
  padding: 10px 0 10px 5px;
  background-color: #f5f5f5;
}

.form-input{
  border: none;
  width: 100%;
  background-color: #f5f5f5;
  outline: none;
  font-size: 15px;
}

.form-button{
  background-color: #f5f5f5;
  border: none;
  cursor: pointer;
  cursor: hand;
}

.title-img{
  width: 160px;
  height: 40px;
  object-fit: cover;
  padding-right: 20px;
}

.fa-red:before{
  color: red;
}

.gnav{
  display: flex;
  height: 2rem;
  margin: 0 auto;
  width: 1200px;
}

a{
  text-decoration: none;
  color: black;
  font-family: monospace;
  padding: 0px 5px;
}

.gnav > li{
  width: 25%;
}

.gnav li{
  width: 150px;
  list-style: none;
  position: relative;
}

.ganv li a{
  display: block;
  height: 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.gnav li li{
  height: 0;
  overflow: hidden;
  transition: .5s;
}

.gnav li li a{
  background-color: white;
}

.gnav li:hover > ul > li{
  height: 2rem;
  overflow: visible;
}

.gnav li ul li ul{
  left: 50%;
  position: absolute;
  top: 0;
  width: 100%;
}

.gnav li ul li{
  background-color: white;
  padding-left: 10px;
  top: 10px;
  width: 110%;
}

.gnav ul li ul li{
  left: 50%;
}


.sign{
  padding: 0.5em 1em;
  text-decoration: none;
  color: white;
  background-color: #EE0000;
  border: solid 1px #EE0000;
  border-radius: 4px;
  margin-left: 600px;
}

.login{
  padding: 0.5em 1em;
  text-decoration: none;
  color: #3a9bd8;
  border: solid 1px #3a9bd8;
  border-radius: 4px;
}


/* main */

.exhibition{
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 300px;
  width: 160px;
  height: 160px;
}

.main-img{
  max-width: 100%;
}

h1{
  font-size: 25px;
  text-align: center;
  margin: 50px 0 20px 0;
}


.picup{
  padding: 0.5em 2em;
  text-decoration: none;
  color: black;
  background-color: rgb(228, 228, 228);
  border: solid 1px rgb(228, 228, 228);
  border-radius: 20px;
}

.main-picup{
  text-align: center;
  padding: 20px 0 50px 0;
}

/* main2 */
.title2{
  font-size: 25px;
  text-align: left;
  padding: 50px 0 0 300px;
}

.main2{
  height: 500px;
  background-color: rgb(228, 228, 228);
}

.card{
  /* margin: 30px auto; */
  width: 200px;
  background: white;
  box-shadow: 0 2px 5px #ccc;
  margin-left: 20px;
}

.card-img{
  max-width: 100%;
  height: auto;
}

.card-content{
  padding: 20px;
}

.card-text{
  color: black;
  line-height: 1.5;
}

/* footer */

.footer{
  height: 400px;
  background-color: #222222;
}


.footer-img{
  max-width: 100%;
  vertical-align: bottom;
}

section{
  float: left;
  /* padding-left: 10px; */
}

h2{
  color: white;
  font-size: 15px;
  padding: 30px 0 10px 0;
}

p{
  color: rgb(221, 221, 221);
  font-size: 11px;
  letter-spacing: 2px;
  line-height: 30px;
}

.fa-white{
  color: white;
  padding:10px;
}